ion-content {
   
        background-image: url(../../assets/imgs/lollipop.jpg); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    
}
.icontent{
    margin-top: 30px;
    text-align: center;
    color: white;
    background-color: lightblue;
}
